@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bblock {
    @apply w-full h-10 bg-white rounded-lg drop-shadow-lg transition-all 
  }

  .focusblock:focus-within {
    outline: 2px solid black;
  }

  input {
    @apply bg-inherit border-none
  }

  input:focus {
    outline: none;
  }

  .pageTitle {
    font-size: 10rem;
    font-weight: 800;
    letter-spacing: -5px;
    color: black;
    white-space: nowrap;
  }
}
  